.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color:hsl(203, 74%, 66%);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 6px;
    background-color: hsla(0, 0%, 0%, 0.777);
}

.list-items li{
    font-size: 2em;
    list-style: none;
    color: hsl(0, 4%, 41%);
    text-align: center;
    margin:0;
}

.list-items li:hover{
    color: hsl(0, 4%, 0%);
    cursor: pointer;

}